@model IEnumerable<GummyBearKingdom.Models.BlogPost>

@{
    Layout = "_Layout";
    ViewBag.Title = "GBK - Blog";
}

<h1>Our Products</h1>

@Html.ActionLink("Create a new Post", "Create")
@foreach (var post in Model)
{
    <div class="well blog-post">
        <a href="/blogs/details/@post.BlogPostId"><h2 class="blog-title">@Html.DisplayFor(model => post.Title)</h2></a>
        <h6 class="blog-date">
            @Html.DisplayFor(model => post.Author) - 
            @Html.DisplayFor(model => post.PostTime)
        </h6>
    </div>
}
