body {
    background-image:url("../images/bg.jpeg");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}

.body-content {
    margin-top:5em;
    background-color:#000000cc;
    color:lightgray;
    border-width:0px;
    border-radius:0px;
}

tbody>tr:hover {
    color:black;
}

.blog-post {
    color:black;
    padding:1em;
}

.blog-date {
    color:gray;
}

.blog-content {
    background-color:lightgray;
    border-width:0px;
}